html {
    margin:0;
    padding:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#topbar {
    width: 1000px;
    margin: 0 auto;
    height: 30px;
}

#logo {
    height: 20px;
    margin-top: 5px; 
    float: left;
    margin-right: 5px;
}

.topbar-section {
    float: left;
    border-left: 1px #cccccc solid;
    height: 100%;
}

#signin-image {
    height: 30px;
    float: left;
}

#signin-text {
    font-weight: bold;
    position: relative;
    top: 5px;
    padding-right: 30px;
}

#bell-div {
    width: 20px;
    float: left;
    margin-top: 2px;
    margin-left: 20px;
    padding-right: 10px;

}

.topbar-menu {
    font-weight: bold;
    font-size: 90%;
    padding: 7px 15px;
    height: 15px;
}

#more-section {
    position: relative;
    top: -2px;

}

#more-arrow {
    width: 15px;
    margin-left: 15px;

}


#searchbox {
    background-color: #cac9c9;
    background-image: url(images/magnify.png);
    background-size: 12px;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 5px;
    margin-left: 10px;
    margin-top: 4px;
}

.clear {
    clear: both;
}

.menu-bar-container {
    background-color: #BB1919;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

#menu-bar {
    width: 1000px;
    margin:0 auto;

}

h1 {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 40px;
    padding-top: 10px;
    font-weight: 100;
}

#local-news {
    float: right;
    color: white;
    border: 1px solid gray;
    padding: 5px;
    margin: -40px 120px 0 0;
}

#local-news a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

#local-news a:hover {
    text-decoration: underline;
}

#gps {
    width: 15px;
}

.menu-bar-2-container {
    background-color: #A91717;
    width: 100%;
    height: 40px;
}
.menu-bar-2 {
    width: 1000px;
    margin: 0 auto;
    height: 20px;
}

.menu-bar-2 a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    margin-top: 5px;
    padding: 0 10px;
    border-right: 1px solid #BB4545;
    font-size: 18px;
    position: relative;
    top: 10px;
}

.menu-bar-2 a:hover {
    text-decoration: underline;
}

#no-border {
    border: none;
}

.page-container {
    width: 1000px;
    margin: 0 auto;
}

h2 {
    font-weight: normal;
    border-bottom: 3px solid #a91717;
    width: 120px;
}

h3 a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}

h3 a:hover {
    color: rgba(32, 32, 145, 0.973);
}

#article-summary {
    width: 230px;
    float: left;
}

#article-summary img {
    width: 11px;
    padding-right: 5px;
}

#article-summary a {
    text-decoration: none;
    color: rgb(167, 5, 5);
}

.article-container {
    float: left;
    width: 700px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

#main-article-image {
    height: 275px;
    margin-left: 10px;
    position: relative;
    left: 20px;
}

#article-summary hr {
    width: 50px;
    border-color: red;
    float: left;
}

#watch-listen {
    position: relative;
    left: 15px;
}

#watch-listen a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

#watch-listen a:hover {
    color: rgba(32, 32, 145, 0.973);
}

h4 {
    font-size: 30px;
    text-align: center;
}

.news-image-class {
    width: 100px;
    float: left;
    margin-right: 5px; 
    padding: 5px; 
}

.article-clock {
    width: 11px;
    padding-right: 5px;
}